h1{
    color:#0000ff;
    text-align: center;
}
.header{
    background-color: #FFA500;
}
.grid{
    border:solid;
    border-color: #0000ff;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.link{
    border: none;
    margin-left: 1250px;
}
.item{
    background-color: #ffff00;
    border:solid;
    border-color: #0000ff;
    border-right-width: 90ch;
}
.item2{
    background-color: #00ff00;
    border:solid;
    border-color: #0000ff;
    border-left-width: 90ch;
}
.item3{
    background-color: #17ECEC;
    border:solid;
    border-color: #0000ff;
    border-right-width: 90ch;
}
.item4{
    background-color: #808000;
    border:solid;
    border-color: #0000ff;
    border-left-width: 90ch;
}
.item5{
    background-color: #808080;
    border:solid;
    border-color: #0000ff;
    border-right-width: 90ch;
}
.img{
    border:solid;
}
.img2{
    border:solid;
}
.img3{
    border:solid;
}
.img4{
    border:solid;
}
.img5{
    border:solid;
}
.img:hover{
    border:none;
    background-image:url("group.jpeg");
    margin-left: 140px;
    transform: scale(1.5,1.5);
}
.img2:hover{
    border:none;
    background-image:url("group2.jpeg");
    margin-left: 140px;
    transform: scale(1.5,1.5);
}
.img3:hover{
    border:none;
    background-image:url("group3.jpeg");
    margin-left: 140px;
    transform: scale(1.5,1.5);
}
.img4:hover{
    background-image:url("group4.jpg");
    border:none;
    margin-left: 140px;
    transform: scale(1.5,1.5);
}
.img5:hover{
    border:none;
    background-image:url("group5.jpeg");
    margin-left: 140px;
    transform: scale(1.5,1.5);
}
.item:hover p{
    color: #ff0000;
}
.item2:hover p{
    color: #ff0000;
}
.item3:hover p{
    color: #ff0000;
}
.item4:hover p{
    color: #ff0000;
}
.item5:hover p{
    color: #ff0000;
}